.gameResult{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
}

.gr-col {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    padding: 1.2rem;
    border: 2px black solid;
}

.main-container {
    display: flex;
    flex-direction: column;
}

/* GameResult */

.main-container .gameResult {
    
}

/* Main Rows */

.gameHistory{
    height: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 6px solid black;
    overflow: auto;
}

.gameHistory .history-row-titles{
    height: 15%;
    display: flex;
    margin: 0 auto;
    border: 3px solid black ;
}

.gameHistory .history-row-titles .main-row {
    padding: 2em;

}
.gameHistory .history-row-titles #main-row-date{
    padding-left: 5em;
    padding-right: 5em;
}

/* GH */

.history-row-data .gh_game_result {
    display: flex;
    flex-direction: column;
}

.history-row-data .gh_result {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.history-row-data .gh_result:hover {
    background-color: salmon;
}

.history-row-data .gh_result div {
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

/* Remove */

.gr-col img {
    width: 4.7em;
    cursor: pointer;
}

.gr-col img:hover {
    padding: 1rem;
    border: 5px solid black;
    background-color: black;
}

.gr-col .active-img { 
    padding: 1rem;
    border: 5px solid black;
}

/* Pop Up */

.removePopUp {
    position: absolute;
    display: none;
    width: 40%;
    top: 40%;
    left: 30%;
    text-align: center;
    border: 5px black solid;
    background-color: white;
}

.remove-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-buttons .remove-button{
    margin: auto;
}

.remove-buttons .remove-button button{
    border: none;
    background-color: black;
    color: red;
    font-weight: 1000;
    font-size: 1rem;
    cursor: pointer;
}
/*  */

.main-container .homeLink {
    position: absolute;
    margin: auto;
    color: white;
    background-color: black;
}

.main-container .homeLink a{
    text-decoration: none;
    text-align: center;
    font-size: 3em;
    padding: 2rem;
    transition: background-color 1s, color 1s;
}

.main-container .homeLink a:visited{
    color: inherit;
}

.main-container .homeLink a:hover{
    color: salmon;
    background-color: white;
}

