.gameResult{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
}

.gr-col {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    padding: 1.2rem;
    border: 2px black solid;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.gameHistory{
    height: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.gameHistory .history-row-titles{
    height: 15%;
    display: flex;
    margin: 0 auto;
}

.gameHistory .history-row-titles .main-row {
    padding: 2em;

}

/* GH */


.history-row-data .gh_result {
    display: flex;
}

.history-row-data .gh_result div {
    padding: 1rem;
}

/* Remove */

.gr-col img {
    width: 5em;
    cursor: pointer;
}
