.result_popup {
    position: absolute;
    top: 50%;
    width: 100%;
    display: none;
    text-align: center;
}

.result_popup h4{
    background-color: white;
    font-size: 5rem;
    margin: auto;
    width: 25%;
    border: 15px solid black;
    border-radius: 10px;
}

.no_input_popup {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
    text-align: center;
}

.no_input_popup h4{
    background-color: white;
    top: 50;
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 2rem;
    border: 25px solid black;
    border-radius: 10px;
}

#session-container {
    position: absolute;
    display: none;

}

